@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

body,
.container {
 display: flex;
}

body {
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    background-color: white;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#calc-body,
#calc-buttons {
    flex-direction: column;
}

#calc-body {
    background-color:red;
}

#calc-display {
    background-color: #c2fffe;
    text-align: end;
    padding: 10px 5px;
}

button {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 40px;
    width: 2em;
    height: 2em;
    margin: 0;
}

#zero {
    width: 4em;
}