body,
.container {
 display: flex;
}

body {
    background-color: aliceblue;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#calc-body,
#calc-buttons {
    flex-direction: column;
}

#calc-body {
    background-color:red;
}

#calc-display {
    background-color: aqua;
    text-align: end;
    padding: 1em 0;
}

button {
    width: 6em;
    height: 6em;
    margin: 0;
}

#zero {
    width: 12em;
}